* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container,
.nav-links,
.cart {
    display: flex;
}


i {
    display: block;
}

.logo-container {
    height: 10vh;
    flex: 1;
}

nav {
    flex: 2;

}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link:hover {
    border-bottom: 3px solid #FFBD4A;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s left ease;

}

.cart {
    flex: 1;
    justify-content: flex-end;
    font-size: 35px;
    transition: 0.5s;
}

.cart:hover {
    color: #FFBD4A;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.into-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;

}

.cta-select {
    border: 2px solid #FFBD4A;
    background: transparent;
    color: #FFBD4A;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.4s;
}

.cta-select:hover {
    border: none;
    background: #FFBD4A;
    color: white;

}

.cta-add {
    border: none;
    background: #FFBD4A;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
    transition: 0.4s;
}

.cta-add:hover {
    border: 2px solid #FFBD4A;
    background: transparent;
    color: #FFBD4A;
}

.cover {
    flex: 1;
    height: 70vh;

}

.cover img {
    margin-top: 10vh;
    animation: drop 1.5s ease;
}

.big-circle {
    position: absolute;
    top: 10%;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    opacity: 0.4;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 2rem;

}


@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px
    }

    .intro-text p {
        font-size: 19px;
    }

    .cta {
        padding-top: 10px;
    }

    .big-circle {
        opacity: 0;
    }

    .medium-circle {
        top: 50%;
        right: 0;
        opacity: 0.3;
    }

    .small-circle {
        top: -5%;
        left: 0%;
        opacity: 0.2;
    }



}