* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}

:root {
    --main-bg-color: #FFBD4A;
    --main-txt-color: #585772;
}

button {
    font-family: 'Poppins', sans-serif;
}

/* HEADER/NAVIGATION with burger menu */
header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo,
.nav-links,
.cart {
    display: flex;
}

i {
    display: block;
}

.logo {
    height: 10vh;
    flex: 1;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
}

.nav-link:hover {
    border-bottom: 3px solid var(--main-bg-color);
}

.cart {
    flex: 1;
    justify-content: flex-end;
    font-size: 35px;
    transition: 0.2s;
}

.cart:hover {
    color: var(--main-bg-color);
}

.burger {
    display: none;
    margin: 0px 20px 0px 40px;
    cursor: pointer;
}

.burger div {
    right: 20px;
    width: 20px;
    height: 3px;
    background-color: purple;
    margin: 2px;
    transition: all 0.3s ease;
}

/* nav links mobile menu animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* burger animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-2px, 4px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-2px, -4px);
}

/* MAIN SECTION index */
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.into-text p {
    margin-top: 5px;
    font-size: 22px;
    color: var(--main-txt-color);
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid var(--main-bg-color);
    background: transparent;
    color: var(--main-bg-color);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.cta-select:hover {
    border: none;
    background: var(--main-bg-color);
    color: white;
}

.cta-add {
    border: none;
    background: var(--main-bg-color);
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
    transition: 0.2;
}

.cta-add:hover {
    border: 2px solid var(--main-bg-color);
    background: transparent;
    color: var(--main-bg-color);
}

.cover {
    flex: 1;
    height: 70vh;

}

.cover img {
    margin-top: 10vh;
    animation: drop 1.5s ease;
}

.big-circle {
    position: absolute;
    top: 10%;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    opacity: 0.4;
}

/* tools drop animation */
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* about page */
#about .content,
#about h2 {
    margin: 30px 50px 30px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75vw;
}

#about h3,
#about h2 {
    margin: 30px 50px 20px 50px;
}

/* PRODUCT PAGE */
.img-fluid {
    max-width: 90%;
    height: auto;
}

.fa-star {
    color: yellowgreen;
    padding: 3% 0;
}

.card {
    margin: 20px;
}

/* CONTACT PAGE */

/* Style inputs, select elemnets and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical
}

/*submit button */
input[type=submit] {
    background-color: #FFBD4A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.container h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 15px 0;
    color: var(--main-txt-color);
}

span.error {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: -9px;

}

.success {
    font-size: 40px;
    text-align: center;
}

/* mobile responsive */
@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px
    }

    .intro-text p {
        font-size: 19px;
    }

    .cta {
        padding-top: 10px;
    }

    .big-circle {
        opacity: 0;
    }

    .medium-circle {
        top: 50%;
        right: 0;
        opacity: 0.3;
    }

    .small-circle {
        top: -5%;
        left: 0%;
        opacity: 0.2;
    }

    header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        width: 50%;
        top: 10vh;
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

/*Services*/

.sec-services {
    background: #f9f9f9;
    margin-top: 5%;
}

.sec-services h1 {
    font-size: 48px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-services h2 {
    text-align: center;
    margin: 10px 0 10px 0;
    color: var(--main-txt-color);

}

.sec-services i {
    display: block;
    margin: auto;
    width: 68px;
    height: 90px;
}

.sec-services p {
    justify-content: center;
    text-align: center;

}

/*Testimonials*/

.sec-testimonials {
    background: #f9f9f9;
}